<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>00F5C949-94A9-4AB5-850C-A2ABB6088CE4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C688E37F-BABD-4986-B4B2-3B40ECD05CEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>095E2EE1-C48A-41DE-819D-07C3134A6671</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ED35D21E-A146-407B-B3B9-096C24CA255C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>09C8F0EB-F591-4739-ADF3-C9E785B8897E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>14CC928B-D9B7-4907-B75E-53B2C486F38E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>14CC928B-D9B7-4907-B75E-53B2C486F38E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0AC3EAE3-8488-4B7C-8B1C-E76FD1CC4535</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D52C6760-6FA6-4569-941D-0C431F801DB0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BB44A99D-C283-4BCC-ABE6-DA061C7271A9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>309D4D6A-09C2-4646-ADCE-899E4B9D04D0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>45161C9C-2F74-4618-A040-CEED953EAD34</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D52C6760-6FA6-4569-941D-0C431F801DB0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>FCA217CD-BE68-4834-A059-2AD859325E87</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3A5FA102-28A1-4502-9A89-ED0275B53E40</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5512D9D7-E22B-4559-90AE-7CC0056B299A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3DF301C4-04A4-4296-8341-76FC0C0E7DDD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B9F6A82B-0CFF-458C-BBB3-9F128E0CA290</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>54F0396D-F145-4D21-AF9E-7E9CF7583A16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C688E37F-BABD-4986-B4B2-3B40ECD05CEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5512D9D7-E22B-4559-90AE-7CC0056B299A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CD510643-AB33-4573-8960-C99396C669EE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89F6E99B-347B-4F01-BF31-442A23A4C7E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09C8F0EB-F591-4739-ADF3-C9E785B8897E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B9F6A82B-0CFF-458C-BBB3-9F128E0CA290</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5D73C6E9-B734-4C88-9EA3-A8A621C33A9E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D52C6760-6FA6-4569-941D-0C431F801DB0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A2E41787-F785-40C6-AE56-C4308CFA4A9D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C16C6BBA-621B-41E2-ADC3-EED565EA10B1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A5FA102-28A1-4502-9A89-ED0275B53E40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C556E231-B8E9-4B76-95B8-7A49BF57435D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89F6E99B-347B-4F01-BF31-442A23A4C7E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>C688E37F-BABD-4986-B4B2-3B40ECD05CEA</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3DF301C4-04A4-4296-8341-76FC0C0E7DDD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD510643-AB33-4573-8960-C99396C669EE</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A7FAC5BE-747D-4FA1-853A-3C487DA65242</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>D52C6760-6FA6-4569-941D-0C431F801DB0</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>CAE88F95-1630-4A6E-AC58-7DAFE53ECDFB</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB161B43-DC05-4D83-80AA-3A3CBD563FF7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>86822CAB-3057-447A-A9CB-1DAD63B61208</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DEF06F76-01BF-4064-8A7A-463E4E0E9212</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB161B43-DC05-4D83-80AA-3A3CBD563FF7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>E5E1B4AC-5453-4703-A288-C70DF110EB17</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C688E37F-BABD-4986-B4B2-3B40ECD05CEA</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>ED35D21E-A146-407B-B3B9-096C24CA255C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>EDA3D7CE-A708-4D3D-A073-8BD95C269BF2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EDA3D7CE-A708-4D3D-A073-8BD95C269BF2</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>309D4D6A-09C2-4646-ADCE-899E4B9D04D0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EF940915-8A99-4777-9CA3-E3D96E62D709</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89F6E99B-347B-4F01-BF31-442A23A4C7E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F78E5888-EADC-4712-A704-6705560C9949</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A5FA102-28A1-4502-9A89-ED0275B53E40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F92692D6-7FD6-41D0-9292-9B90C114AB52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89F6E99B-347B-4F01-BF31-442A23A4C7E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>FA4522E8-963C-44EF-B1E4-5563AEDDFA33</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3A5FA102-28A1-4502-9A89-ED0275B53E40</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Martyn</string>
	<key>description</key>
	<string>A tailored Alfred Workflow that performs tasks using notion-py within the context of a specific Notion Template</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Add note to Notion</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>адд ноте</string>
				<key>subtext</key>
				<string>{query}</string>
				<key>text</key>
				<string>Add Note</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>EF940915-8A99-4777-9CA3-E3D96E62D709</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>ноте</string>
				<key>subtext</key>
				<string>{query}</string>
				<key>text</key>
				<string>Add Note</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C556E231-B8E9-4B76-95B8-7A49BF57435D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>CB18C568-72EA-4997-9E22-5EEC57CD8ACE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:query}</string>
				<key>title</key>
				<string>Note added under today</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0AC3EAE3-8488-4B7C-8B1C-E76FD1CC4535</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>add note</string>
				<key>subtext</key>
				<string>{query}</string>
				<key>text</key>
				<string>Add Note</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F92692D6-7FD6-41D0-9292-9B90C114AB52</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./src/add_note.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>09C8F0EB-F591-4739-ADF3-C9E785B8897E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>--query {query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>query</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>89F6E99B-347B-4F01-BF31-442A23A4C7E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string> {query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>then</string>
						<key>uid</key>
						<string>D52C6760-6FA6-4569-941D-0C431F801DB0</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>14CC928B-D9B7-4907-B75E-53B2C486F38E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>handleFailure</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>BB44A99D-C283-4BCC-ABE6-DA061C7271A9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>94AD5579-BF3E-482E-B818-61CAFBA7C973</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>адд таск</string>
				<key>subtext</key>
				<string>{query}</string>
				<key>text</key>
				<string>Add Task</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>E5E1B4AC-5453-4703-A288-C70DF110EB17</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:query}</string>
				<key>title</key>
				<string>Note added under today</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>45161C9C-2F74-4618-A040-CEED953EAD34</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>add result</string>
				<key>subtext</key>
				<string>{query}</string>
				<key>text</key>
				<string>Add Result to Tomorrow</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>095E2EE1-C48A-41DE-819D-07C3134A6671</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./src/add_result.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>EDA3D7CE-A708-4D3D-A073-8BD95C269BF2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>--query {query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>query</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>ED35D21E-A146-407B-B3B9-096C24CA255C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string> {query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>then</string>
						<key>uid</key>
						<string>D52C6760-6FA6-4569-941D-0C431F801DB0</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>else</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>309D4D6A-09C2-4646-ADCE-899E4B9D04D0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>handleFailure</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>FCA217CD-BE68-4834-A059-2AD859325E87</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>'{query}', {allvars}</string>
				<key>cleardebuggertext</key>
				<false/>
				<key>processoutputs</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.debug</string>
			<key>uid</key>
			<string>70384409-52DF-466E-B107-65ECAE30BBCA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>таск</string>
				<key>subtext</key>
				<string>{query}</string>
				<key>text</key>
				<string>Add Task</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>00F5C949-94A9-4AB5-850C-A2ABB6088CE4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>add task</string>
				<key>subtext</key>
				<string>{query}</string>
				<key>text</key>
				<string>Add Task</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>54F0396D-F145-4D21-AF9E-7E9CF7583A16</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./src/add_task.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3DF301C4-04A4-4296-8341-76FC0C0E7DDD</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:query}</string>
				<key>title</key>
				<string>Task added under today</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>5D73C6E9-B734-4C88-9EA3-A8A621C33A9E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string> {query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>to Notion</string>
						<key>uid</key>
						<string>D52C6760-6FA6-4569-941D-0C431F801DB0</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>B9F6A82B-0CFF-458C-BBB3-9F128E0CA290</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>--query {query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>query</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>C688E37F-BABD-4986-B4B2-3B40ECD05CEA</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>handleFailure</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>A2E41787-F785-40C6-AE56-C4308CFA4A9D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>доне таск</string>
				<key>subtext</key>
				<string>{query}</string>
				<key>text</key>
				<string>Done Task</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>FA4522E8-963C-44EF-B1E4-5563AEDDFA33</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>дтаск</string>
				<key>subtext</key>
				<string>{query}</string>
				<key>text</key>
				<string>Done Task</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C16C6BBA-621B-41E2-ADC3-EED565EA10B1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:query}</string>
				<key>title</key>
				<string>Task added under today</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>A7FAC5BE-747D-4FA1-853A-3C487DA65242</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>done task</string>
				<key>subtext</key>
				<string>{query}</string>
				<key>text</key>
				<string>Done Task</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F78E5888-EADC-4712-A704-6705560C9949</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./src/done_task.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>5512D9D7-E22B-4559-90AE-7CC0056B299A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string> {query}</string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>1</integer>
						<key>matchstring</key>
						<string></string>
						<key>outputlabel</key>
						<string>to Notion</string>
						<key>uid</key>
						<string>D52C6760-6FA6-4569-941D-0C431F801DB0</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>Error</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>CD510643-AB33-4573-8960-C99396C669EE</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>--query {query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>query</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>3A5FA102-28A1-4502-9A89-ED0275B53E40</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>handleFailure</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>CAE88F95-1630-4A6E-AC58-7DAFE53ECDFB</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<true/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>================                                        === IMPORTANT ===                                        Check debugging info for the workflow.</string>
				<key>title</key>
				<string>🔴 Failed Operation</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>86822CAB-3057-447A-A9CB-1DAD63B61208</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>handleFailure</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>DEF06F76-01BF-4064-8A7A-463E4E0E9212</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>DB161B43-DC05-4D83-80AA-3A3CBD563FF7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A tailored Alfred Workflow that performs tasks using notion-py (https://github.com/jamalex/notion-py) within the context of a specific Notion Template (https://www.notion.so/Week-Template-0a7ac4d03082417c929176b5ea1df07e) as described in https://kevinjalbert.com/my-weekly-notion-setup/.</string>
	<key>uidata</key>
	<dict>
		<key>00F5C949-94A9-4AB5-850C-A2ABB6088CE4</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>925</integer>
		</dict>
		<key>095E2EE1-C48A-41DE-819D-07C3134A6671</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>765</integer>
			<key>ypos</key>
			<integer>810</integer>
		</dict>
		<key>09C8F0EB-F591-4739-ADF3-C9E785B8897E</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>300</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>0AC3EAE3-8488-4B7C-8B1C-E76FD1CC4535</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>635</integer>
			<key>ypos</key>
			<integer>385</integer>
		</dict>
		<key>14CC928B-D9B7-4907-B75E-53B2C486F38E</key>
		<dict>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>450</integer>
		</dict>
		<key>309D4D6A-09C2-4646-ADCE-899E4B9D04D0</key>
		<dict>
			<key>xpos</key>
			<integer>1210</integer>
			<key>ypos</key>
			<integer>850</integer>
		</dict>
		<key>3A5FA102-28A1-4502-9A89-ED0275B53E40</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>1650</integer>
		</dict>
		<key>3DF301C4-04A4-4296-8341-76FC0C0E7DDD</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>310</integer>
			<key>ypos</key>
			<integer>1070</integer>
		</dict>
		<key>45161C9C-2F74-4618-A040-CEED953EAD34</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>1375</integer>
			<key>ypos</key>
			<integer>785</integer>
		</dict>
		<key>54F0396D-F145-4D21-AF9E-7E9CF7583A16</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>1070</integer>
		</dict>
		<key>5512D9D7-E22B-4559-90AE-7CC0056B299A</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>305</integer>
			<key>ypos</key>
			<integer>1625</integer>
		</dict>
		<key>5D73C6E9-B734-4C88-9EA3-A8A621C33A9E</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>1070</integer>
		</dict>
		<key>70384409-52DF-466E-B107-65ECAE30BBCA</key>
		<dict>
			<key>xpos</key>
			<integer>515</integer>
			<key>ypos</key>
			<integer>925</integer>
		</dict>
		<key>86822CAB-3057-447A-A9CB-1DAD63B61208</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>435</integer>
			<key>ypos</key>
			<integer>2205</integer>
		</dict>
		<key>89F6E99B-347B-4F01-BF31-442A23A4C7E7</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>230</integer>
			<key>ypos</key>
			<integer>440</integer>
		</dict>
		<key>94AD5579-BF3E-482E-B818-61CAFBA7C973</key>
		<dict>
			<key>xpos</key>
			<integer>1225</integer>
			<key>ypos</key>
			<integer>685</integer>
		</dict>
		<key>A2E41787-F785-40C6-AE56-C4308CFA4A9D</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>680</integer>
			<key>ypos</key>
			<integer>1200</integer>
		</dict>
		<key>A7FAC5BE-747D-4FA1-853A-3C487DA65242</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>645</integer>
			<key>ypos</key>
			<integer>1625</integer>
		</dict>
		<key>B9F6A82B-0CFF-458C-BBB3-9F128E0CA290</key>
		<dict>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>1090</integer>
		</dict>
		<key>BB44A99D-C283-4BCC-ABE6-DA061C7271A9</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>625</integer>
			<key>ypos</key>
			<integer>520</integer>
		</dict>
		<key>C16C6BBA-621B-41E2-ADC3-EED565EA10B1</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>1480</integer>
		</dict>
		<key>C556E231-B8E9-4B76-95B8-7A49BF57435D</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>255</integer>
		</dict>
		<key>C688E37F-BABD-4986-B4B2-3B40ECD05CEA</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>240</integer>
			<key>ypos</key>
			<integer>1095</integer>
		</dict>
		<key>CAE88F95-1630-4A6E-AC58-7DAFE53ECDFB</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>685</integer>
			<key>ypos</key>
			<integer>1775</integer>
		</dict>
		<key>CB18C568-72EA-4997-9E22-5EEC57CD8ACE</key>
		<dict>
			<key>xpos</key>
			<integer>485</integer>
			<key>ypos</key>
			<integer>285</integer>
		</dict>
		<key>CD510643-AB33-4573-8960-C99396C669EE</key>
		<dict>
			<key>xpos</key>
			<integer>490</integer>
			<key>ypos</key>
			<integer>1650</integer>
		</dict>
		<key>DB161B43-DC05-4D83-80AA-3A3CBD563FF7</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>235</integer>
			<key>ypos</key>
			<integer>2250</integer>
		</dict>
		<key>DEF06F76-01BF-4064-8A7A-463E4E0E9212</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>95</integer>
			<key>ypos</key>
			<integer>2220</integer>
		</dict>
		<key>E5E1B4AC-5453-4703-A288-C70DF110EB17</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>75</integer>
			<key>ypos</key>
			<integer>770</integer>
		</dict>
		<key>ED35D21E-A146-407B-B3B9-096C24CA255C</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>970</integer>
			<key>ypos</key>
			<integer>840</integer>
		</dict>
		<key>EDA3D7CE-A708-4D3D-A073-8BD95C269BF2</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>1040</integer>
			<key>ypos</key>
			<integer>815</integer>
		</dict>
		<key>EF940915-8A99-4777-9CA3-E3D96E62D709</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>95</integer>
		</dict>
		<key>F78E5888-EADC-4712-A704-6705560C9949</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>65</integer>
			<key>ypos</key>
			<integer>1625</integer>
		</dict>
		<key>F92692D6-7FD6-41D0-9292-9B90C114AB52</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>415</integer>
		</dict>
		<key>FA4522E8-963C-44EF-B1E4-5563AEDDFA33</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>70</integer>
			<key>ypos</key>
			<integer>1325</integer>
		</dict>
		<key>FCA217CD-BE68-4834-A059-2AD859325E87</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>1365</integer>
			<key>ypos</key>
			<integer>920</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>1.1.0</string>
	<key>webaddress</key>
	<string>https://github.com/martyns0n/alfred-notion</string>
</dict>
</plist>
