<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.kevinjalbert.alfred-notion</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>09C8F0EB-F591-4739-ADF3-C9E785B8897E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>FE37757C-61B6-4546-9A72-718D7D0C17DC</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>53D71D27-C66E-462E-8915-049E099D90A4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>53D71D27-C66E-462E-8915-049E099D90A4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0AC3EAE3-8488-4B7C-8B1C-E76FD1CC4535</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89F6E99B-347B-4F01-BF31-442A23A4C7E7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>09C8F0EB-F591-4739-ADF3-C9E785B8897E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DB161B43-DC05-4D83-80AA-3A3CBD563FF7</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8CDBF1B6-758E-4BEB-A83C-F3223AE78013</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>DEF06F76-01BF-4064-8A7A-463E4E0E9212</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>DB161B43-DC05-4D83-80AA-3A3CBD563FF7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>F92692D6-7FD6-41D0-9292-9B90C114AB52</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>89F6E99B-347B-4F01-BF31-442A23A4C7E7</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Martyn</string>
	<key>description</key>
	<string>A tailored Alfred Workflow that performs tasks using notion-py within the context of a specific Notion Template</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Notion</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Try debugging the workflow</string>
				<key>title</key>
				<string>Failed Operation</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>8CDBF1B6-758E-4BEB-A83C-F3223AE78013</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>triggerid</key>
				<string>handleFailure</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.external</string>
			<key>uid</key>
			<string>DEF06F76-01BF-4064-8A7A-463E4E0E9212</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>0</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>DB161B43-DC05-4D83-80AA-3A3CBD563FF7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>externaltriggerid</key>
				<string>handleFailure</string>
				<key>passinputasargument</key>
				<true/>
				<key>passvariables</key>
				<true/>
				<key>workflowbundleid</key>
				<string>self</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.callexternaltrigger</string>
			<key>uid</key>
			<string>FE37757C-61B6-4546-9A72-718D7D0C17DC</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>./src/add_note.py</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>09C8F0EB-F591-4739-ADF3-C9E785B8897E</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>note</string>
				<key>subtext</key>
				<string>{query}</string>
				<key>text</key>
				<string>Add Note</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>F92692D6-7FD6-41D0-9292-9B90C114AB52</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{var:query}</string>
				<key>title</key>
				<string>Note added under today</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>0AC3EAE3-8488-4B7C-8B1C-E76FD1CC4535</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>--query {query}</string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>query</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>89F6E99B-347B-4F01-BF31-442A23A4C7E7</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<true/>
				<key>matchmode</key>
				<integer>1</integer>
				<key>matchstring</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>53D71D27-C66E-462E-8915-049E099D90A4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>A tailored Alfred Workflow that performs tasks using notion-py (https://github.com/jamalex/notion-py) within the context of a specific Notion Template (https://www.notion.so/Week-Template-0a7ac4d03082417c929176b5ea1df07e) as described in https://kevinjalbert.com/my-weekly-notion-setup/.</string>
	<key>uidata</key>
	<dict>
		<key>09C8F0EB-F591-4739-ADF3-C9E785B8897E</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>280</integer>
			<key>ypos</key>
			<integer>1190</integer>
		</dict>
		<key>0AC3EAE3-8488-4B7C-8B1C-E76FD1CC4535</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>620</integer>
			<key>ypos</key>
			<integer>1190</integer>
		</dict>
		<key>53D71D27-C66E-462E-8915-049E099D90A4</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<integer>1220</integer>
		</dict>
		<key>89F6E99B-347B-4F01-BF31-442A23A4C7E7</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>210</integer>
			<key>ypos</key>
			<integer>1215</integer>
		</dict>
		<key>8CDBF1B6-758E-4BEB-A83C-F3223AE78013</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>1210</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>DB161B43-DC05-4D83-80AA-3A3CBD563FF7</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>1150</integer>
			<key>ypos</key>
			<integer>430</integer>
		</dict>
		<key>DEF06F76-01BF-4064-8A7A-463E4E0E9212</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>1010</integer>
			<key>ypos</key>
			<integer>400</integer>
		</dict>
		<key>F92692D6-7FD6-41D0-9292-9B90C114AB52</key>
		<dict>
			<key>colorindex</key>
			<integer>11</integer>
			<key>xpos</key>
			<integer>40</integer>
			<key>ypos</key>
			<integer>1190</integer>
		</dict>
		<key>FE37757C-61B6-4546-9A72-718D7D0C17DC</key>
		<dict>
			<key>colorindex</key>
			<integer>1</integer>
			<key>xpos</key>
			<integer>470</integer>
			<key>ypos</key>
			<integer>1090</integer>
		</dict>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/kevinjalbert/alfred-notion</string>
</dict>
</plist>
